<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %></title>
</head>
<body>
    <h2><%= movie.title %></h2>
    <p>Género: <%= movie.genre %></p>
    <p>Año: <%= movie.year %></p>
</body>
</html>